@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Inter:wght@300;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Inter', sans-serif;
}

body {
  background: #eaeaea;
  
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: lightgray;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #FDA512;
  /* border-radius: 20px;      */
}


#app {
  width: 100vw;
  height: 100vh;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  
  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 17px;
}

.ai {
  background: #d3d3d3;
  /* border: 1px solid #FDA512; */
}

.ai:hover {
  background: #fda512;
}


.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 42px;
  height: 42px;
  border-radius: 45px;
  background: #0f0f70;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 65%;
  height: 65%;
  object-fit: contain;
}

.message {
  padding: 7px;
  flex: 1;
  color: #000046;
  font-size: 18px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap; 
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 65%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 10px;
  background: white;
  border: 1px solid #FDA512;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
}

textarea {
  width: 100%;
  color: #ffff;
  font-size: 17px;
  font-weight: 500;
  padding: 11px;
  background: transparent;
  border-radius: 16px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}
